body {
  background: #FFFFFF;
  margin: 0;
  padding: 0;

  min-height: 100vh;
}


main {
  width: 626px;
  text-align: center;
  margin: auto;
  margin-top: 64px;
}

#img1 {
  width: 350px;
  height: 238px;
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #3F3D56;
  margin-bottom: 16px;
}

span {
  color: #EE24FF;
  font-weight: 700;
}


p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #828282;
  margin-bottom: 32px;
  text-align: center;
}

#p2 {
  line-height: 20.43px;
  margin-bottom: 64px;
}

strong, #Flutuar {
  font-weight: 700;
  color: #3F3D56;
}

#Flutuar {
  color: #828282;
}

#line {
  border: 1px solid #ECEFF2;
  max-width: 391px;
  height: 0px;
  margin: 0 auto 16px;
}


footer {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22.15px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3F3D56;
}

footer a + a {
  margin-left: 48px;
}

#img2 {
  position: fixed;
  width: 100%;
  bottom: 0px;
}